[submodule "ext/gigurra-scala-2drenderer"]
	path = ext/gigurra-scala-2drenderer
	url = git@github.com:gigurra/gigurra-scala-2drenderer
[submodule "ext/gigurra-scala-util"]
	path = ext/gigurra-scala-util
	url = git@github.com:gigurra/gigurra-scala-util
