*.class
*.log

# sbt specific
.cache/
.cache
.history/
.idea/
.lib/
dist/*
target/
lib_managed/
src_managed/
src_generated/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*~

.project
.classpath

/bin/
